@model NetworkBillingSystem_Alpha.Models.Department

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Department</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BillingCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillingCode)
        </dd>
        <dt>
            Associated BDIs
        </dt>
            @foreach (var bdi in Model.BDIs)
            {
                <dd>@bdi.BDINumber</dd>
            }
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DepartmentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
