@model NetworkBillingSystem_Alpha.Models.Connection

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Connection</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Interface Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BDI.BDINumber)
        </dd>

        <dt>
            Connected Device MAC
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConnectedDevice.Mac)
        </dd>

        <dt>
            Reporting Device
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReportingDevice.DeviceName)
        </dd>

        <dt>
            Connection Date / Time
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConnectionDateTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ConnectionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
