@model IEnumerable<NetworkBillingSystem_Alpha.Models.Connection>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BDI.BDINumber)
        </th>
        <th>
            Connected Device MAC
        </th>
        <th>
            Department
        </th>
        <th>
            Reporting Device
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConnectionDateTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BDI.BDINumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConnectedDevice.Mac)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Department.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReportingDevice.DeviceName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConnectionDateTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ConnectionID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ConnectionID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ConnectionID })
        </td>
    </tr>
}

</table>
