@model IEnumerable<NetworkBillingSystem_Alpha.Models.BDI>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.BDINumber }) |
                @Html.ActionLink("Details", "Details", new { id = item.BDINumber }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.BDINumber })
            </td>
        </tr>
        <tr>
            <td>
                @item.BDINumber
            </td>
            <td>
                @(item.Department == null ? "" : item.Department.Name)
                
            </td>
        </tr>
    }

</table>
